<nav class="navbar navbar-expand-lg bg-light">
   <div class="container-fluid">
     <a class="navbar-brand" href="#"> <img src="../../assets/K.jpeg"  width="30" height="24" class="d-inline-block align-text-top"></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <div style="width:50%;">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <%detail.each do |section|%>
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <%= section.name%>
               </a>
               <ul class="dropdown-menu">
                 <%section.categories.each do |category|%>
                   <li style="color:pink">
                     <%=category.name%>
                     <%category.sub_categories.each do |sub_cat|%>
                       <p style="color:grey"><%= link_to sub_cat.name, products_path(id:sub_cat.id) %>
                       </p>
                     <%end%>
                   </li>
                 <%end%>
               </ul>
             </li>
           <%end%>
         </ul>
       </div>
       <div style="width:50%;display:inline-flex">
         <div style="width:85%;">
             <form class="d-flex" role="search">
               <input class="form-control me-1" type="search" placeholder="Search for products,brands and more" aria-label="Search">
             </form>
         </div>
         <div style="width:5%; text-align: center;">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                   <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                 </svg>
               </a>
               <ul class="dropdown-menu">
                 <li>
                   <a class="dropdown-item" href="#">
                     <%= current_user.email if current_user.present? %>
                   </a>
                 </li>
                 <li><a class="dropdown-item" href="#">Orders</a></li>
                 <li><a class="dropdown-item" href="#">Contact us</a></li>
                 <li><a class="dropdown-item" href="#">Gift Cards</a></li>
                 <li><hr class="dropdown-divider"></li>
                 <li><a class="dropdown-item" href="#">Log Out</a></li>
               </ul>
             </li>
           </ul>
         </div>
         <div style="width:5%; text-align: center;margin-top:1%">
           <%= link_to wishlists_path() do %>
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
               <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
             </svg>
           <%end%>
         </div>
         <div style="width:5%; text-align: center;margin-top:1%">
           <%= link_to carts_path() do %>
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
               <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
             </svg>
           <%end%>
         </div>
       </div>
       <%#= button_to "Log Out", destroy_user_session_path, method: :delete %>
     </div>
   </div>
 </nav>
 